[submodule "all-windows"]
	path = all-windows
	url = https://github.com/elisheato-main/all-windows.git
[submodule "all-linux"]
	path = all-linux
	url = https://github.com/elisheato-main/all-linux.git
[submodule "all-python-fastapi"]
	path = all-python-fastapi
	url = https://github.com/elisheato-main/all-python-fastapi.git
[submodule "all-python-flask"]
	path = all-python-flask
	url = https://github.com/elisheato-main/all-python-flask.git
